$block-colour: #5bb8ff;
$block-muted-colour: #dedede;

.block {
  position: absolute;
  background-color: $block-colour;
}

.isDragging {
  transform: scale(0.9);
}

.isMuted {
  background-color: $block-muted-colour;
}
