$grid-line-colour: #929292;

.grid {
  display: flex;
  flex-direction:column;
  border-left: thin solid $grid-line-colour;
  border-top: thin solid $grid-line-colour;
  position: absolute;
}

.row {
  display: flex;
}

@mixin grid-cell($background-color) {
  border-right: thin solid $grid-line-colour;
  border-bottom: thin solid $grid-line-colour;
  background-color: $background-color;
}

.cell {
  @include grid-cell(rgb(255,255,255));
}
.shadedCell {
  @include grid-cell(rgb(230, 252, 255));
}
