.container {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
}

.piece {
  position: absolute;
  transition: transform 100ms;
}

.isDraggable {
  transform: scale(0.5);
}

.isDragging {
  transform: scale(1);
}
